


/**-----------------------------Saad---------------------------------------------------------------*/



.filters-outer-secondary-wrapper {
    background: none repeat scroll 0 0 #eaeaea;
    border: 0 none;
    padding: 15px 0;
}
.filters-outer-secondary-wrapper {
    border-bottom: 1px solid #ccc;
}















/**-----------------------------Hassan---------------------------------------------------------------*/



















/**-----------------------------Mahbub---------------------------------------------------------------*/
























/**-----------------------------Asiful---------------------------------------------------------------*/
























/**-----------------------------Tanvir---------------------------------------------------------------*/